<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 4rem;
      color: #404040;
      margin-top: 15%;
    }

    h2 {
      font-size: 2rem;
      color: #808080;
    }

    p {
      font-size: 1.25rem;
      color: #808080;
    }

    a {
      font-size: 1.25rem;
      text-decoration: none;
      color: #1a73e8;
      margin-top: 1.5rem;
      display: inline-block;
    }

    a:hover {
      text-decoration: underline;
    }

   .error-details {
  display: none;
  text-align: left;
  font-size: 1rem;
  color: #404040;
  padding: 1rem;
  background-color: #e0e0e0;
  margin: 1rem auto;
  width: 80%;
  border-radius: 5px;
}

.error-details pre {
  white-space: pre-wrap;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}
  </style>
  <script>
    function toggleErrorDetails() {
      const errorDetails = document.getElementById('error-details');
      errorDetails.style.display = errorDetails.style.display === 'none' ? 'block' : 'none';
    }
  </script>
</head>

<body>
  <h1>Oops!</h1>
  <h2>Something went wrong.</h2>
  <a href="/">Back to Homepage</a>
  <p>
    <button onclick="toggleErrorDetails()">View Details</button>
  </p>
  <div id="error-details" class="error-details">
    <h3>Error: <%= message %></h3>
    <pre><%= error.stack %></pre>
  </div>
</body>

</html>
