<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    h1 {
  font-size: 4rem;
  color: #404040;
  margin-top: 15%;
}

h2 {
  font-size: 2rem;
  color: #808080;
}

p {
  font-size: 1.25rem;
  color: #808080;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #1a73e8;
  margin-top: 1.5rem;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

.joke-container {
  margin-top: 2rem;
}

.joke {
  font-size: 1.5rem;
  color: #404040;
  font-weight: bold;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
  </style>
</head>
<body>
  <h1>404 Not Found</h1>
  <h2>Oops! This page doesn't exist.</h2>
  <div class="joke-container">
    <p class="joke">Why did the webpage go to the gym? To work on its HTML (Hypertext Muscle Language)!</p>
  </div>
  <a href="/">Back to Homepage</a>
</body>
</html>